<!-- Create/Edit Folder Modal -->
<div id="folderModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2 id="modalTitle">Create Folder</h2>

    <form id="folderForm">
      <label for="folderName"
        >Folder Name <span style="color: red">*</span></label
      >
      <input type="text" id="folderName" name="name" required />

      <div class="modal-footer">
        <button type="submit" id="saveBtn">Save</button>
      </div>
    </form>
  </div>
</div>
