<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head', { title: currentUser ? "Home - FileUploader" :
  "Log in" }); -%>

  <body class="flex flex-col min-h-screen">
    <%- include('./layout/header'); -%>
    <!-- Hero Section -->
    <div class="bg-[url('/images/background.jpg')] bg-cover flex-1">
      <section class="bg-white bg-opacity-60 py-12 px-6 pt-16 pb-72">
        <div class="container mx-auto text-center">
          <h1 class="text-4xl font-bold text-gray-800">
            Welcome to FileUploader
          </h1>
          <p class="text-gray-600 mt-4 text-lg">
            Manage and upload your files effortlessly. Secure, fast, and easy to
            use.
          </p>
          <div class="mt-6">
            <a
              href="/folders"
              class="px-8 py-3 bg-blue-600 text-white font-semibold rounded-md shadow-md hover:bg-blue-700"
            >
              Get Started
            </a>
          </div>
        </div>
      </section>
    </div>

    <!-- <div class="content flex-1 px-6 py-4 bg-gray-100 flex flex-col">
      <h1>please log in</h1>
      <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input
          id="username"
          name="username"
          placeholder="username"
          type="text"
        />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <button>Log In</button>
      </form>
    </div> -->
    <%- include('./layout/footer'); -%>
  </body>
</html>
