<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head', { title: currentUser ? "Index" : "Log in" }); -%>

  <body class="flex flex-col min-h-screen">
    <%- include('./layout/header'); -%>
    <div class="content flex-1 px-6 py-4 bg-gray-100 flex flex-col"></div>
    <%- include('./layout/footer'); -%>
  </body>
</html>
