<footer class="bg-gray-800 text-white py-4 px-6">
  <div
    class="container mx-auto flex flex-col sm:flex-row justify-between items-center"
  >
    <!-- Left side - Developer Info -->
    <div class="mb-4 sm:mb-0 text-center sm:text-left">
      <p class="text-sm">
        Developed by
        <a
          href="http://github.com/odilson-dev"
          target="_blank"
          rel="noopener noreferrer"
          ><span class="font-bold">@odilson-dev</span></a
        >
      </p>
      <p class="text-xs text-gray-400">
        A project showcasing full-stack development with Node.js, Express, and
        Tailwind CSS.
      </p>
    </div>

    <!-- Right side - GitHub Link -->
    <div class="mt-4 sm:mt-0 text-center sm:text-right">
      <a
        href="https://github.com/odilson-dev/file-uploader"
        target="_blank"
        class="flex items-center text-indigo-400 hover:text-indigo-700 transition"
      >
        View on GitHub
      </a>
    </div>
  </div>
</footer>
